* {
  margin: 0;
  padding: 0;
  /* color: white; */
}

body {
  /* background-image: url(./images/fbcover.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  /* display: flex; */
  position: fixed;
  color: white;
  text-align: right;
  top: 2em;
  right: 2em;
  width: 40%;
}

header * {
  display: inline;
  vertical-align: middle;
  text-align: right;
}
.badge-info {
  position: fixed;
  color: black;
  left: -70px;
  top: 70px;
  background-color: yellow;
  height: 40px;
  transform: rotate(-30deg);
  padding: 0 3em;
}
.badge-info * {
  vertical-align: middle;
  padding: 1em;
  text-align: center;
}

.small-image {
  width: 100%;
  border: 4px solid white;
  border-radius: 20px;
  box-shadow: 0 0 4px 4px;
  margin-bottom: 1em;
}

.text-content {
  width: calc(70% - 2em);
  float: left;
  background: linear-gradient(90deg, rgba(0, 0, 0, .9) 60%, rgba(0, 0, 0, .9));
  padding: 1em;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  transition: display 1s, visibility 1s, opacity 0.5s ease-out;
}

.imagencontact {
  width: calc(30% - 2em);
  float: right;
  background: linear-gradient(90deg, rgba(0, 0, 0, .9) 20%, #bb1919);
  padding: 1em;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;
}
.imagencontact * {
  display: block;
  text-align: right;

}
.imagencontact a>svg, .imagencontact a>img {
  color: white;
  font-size: 1em;
  display: inline-block;
  height: 1.5em;
}

.imagencontact a {
  text-decoration: none;
  color: white;
  text-align: right;
  margin-bottom: .25em;
  line-height: 2em;
}

.imagencontact a:hover {
  text-decoration: underline;
}
svg#twitter {
  color: rgb(29, 161, 242);
}

.section-class {
  padding: 1em;
  margin: 0 15%;
}

.first-section {
  margin-top: 350px;
}
.article-class {
  margin-left: 5em;
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-top: 1em;
}

.article-class ul {
  margin-left: 2em;
}

.section-dot {
  width: 13px;
  height: 26px;
}
.black-dot {
  background-color: black;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
}

.red-dot {
  background-color: #bb1919;
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
  margin-right: 2em;
}

.section-heading * {
  display: inline-block;
  vertical-align: middle;
}

footer {
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, .9) 50%, #bb1919);
  text-align: center;
}