
@font-face {
  font-family: Cocogoose;
  font-weight: bold;
  src: url("./fonts/Cocogoose_trial.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Noto Sans JP', sans-serif;
}

li {
  vertical-align: middle;
  list-style: none;
  background: url(./images/bullet.jpg) left top no-repeat; 
  padding-left: 2em;
  padding-bottom: 1em;

}

button:hover,
a:hover {
  cursor: pointer;
}

/* HEADER */
.list-text {
  position: relative;
  top: -5px;
}

header {
  position: fixed;
  color: white;
  text-align: right;
  top: 1em;
  right: 1em;
  width: 40%;
  transition: all .2s ease-in;
  z-index: 5;
  
}

header * {
  display: inline;
  vertical-align: middle;
  text-align: right;
}

.badge-info {
  position: fixed;
  color: black;
  left: -70px;
  top: 70px;
  background-color: yellow;
  height: 40px;
  transform: rotate(-30deg);
  padding: 0 3em;
}

.badge-info * {
  vertical-align: middle;
  padding: 1em;
  text-align: center;
}

.icon {
  border-radius: 100%;
  margin-bottom: 3px;
  padding: 2px;
  background-color: white;
}

.small-image {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 4px 4px;
  margin-bottom: 1em;
}

.text-content {
  width: calc(65% - 2em);
  float: left;
  background: linear-gradient(90deg, rgba(0, 0, 0, .9) 60%, rgba(0, 0, 0, .9));
  padding: 1em;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  transition: all .2s ease-in;
}
.text-content h1 {
  font-size: 1.5rem;
}

.text-content p {
  font-size: 1rem;
  font-weight: lighter;
}
.text-content h1, 
.contact-links a,
.module-title h2 {
  font-family: 'Cocogoose', sans-serif;
}
.contact-links img {
  margin-left: .5rem;
  margin-right: .5rem;
}
.external-link {
  font-size: .9em;
}

.imagencontact {
  width: calc(35% - 2em);
  float: right;
  background: linear-gradient(90deg, rgba(0, 0, 0, .9) 20%, #bb1919);
  padding: 1em;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;
}

.imagencontact * {
  display: block;
  text-align: right;
}

.imagencontact a>svg, .imagencontact a>img {
  color: white;
  font-size: 1em;
  display: inline-block;
  height: 1.5em;
}

.imagencontact a {
  text-decoration: none;
  color: white;
  margin-bottom: .25em;
  line-height: 2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.imagencontact a:hover {
  text-decoration: underline;
}

svg#twitter {
  fill: rgb(29, 161, 242) !important;
}


/* BODY */
.section-class {
  padding: 1em;
  margin: 0 15%;
}

.section-class>article {
  padding-bottom: 1em;
}

.section-class>article:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.first-section {
  margin-top: 450px;
}

.article-class {
  margin: 2em 1em 0 4em;
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.article-class ul {
  margin-left: 2em;
}

.article-title>p {
  font-style: italic;
}

.section-dot {
  width: 13px;
  height: 26px;
}

.black-dot {
  background-color: black;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
}

.red-dot {
  background-color: #bb1919;
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
  margin-right: 1em;
  margin-left: -3px;
}

.section-heading * {
  display: inline-block;
  vertical-align: middle;
}

footer {
  color: white;
  background: linear-gradient(0, rgba(0, 0, 0, .9) 50%, #bb1919);
  text-align: center;
}

.module-main {
  overflow: hidden;
}

.module {
  min-height: 50vh;
  z-index: 1;
}

.module-title {
  margin: 0 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.module:not(:first-of-type) .module-title h2 {
  margin-top: 2rem;
}

.module-underline {
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: gray;
}
.module-title-hanger {
  height: 60px;
  width: 2px;
  background-color: gray;
  position: relative;
  left: calc(50% - 1px);
}
.hanger-dot {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: relative;
  top: -113px;
  left: calc(50% - 15px);
  text-align: center;
}
.education > .hanger-dot {
  top: -140px;
}
.hanger-line {
  height: 130px;
  width: 2px;
  background-color: gray;
  position: relative;
  top: -120px;
  left: calc(50% - 1px);
  z-index: -1;
}

.hanger {
  width: 100%;
  height: 10px;
  border: 2px solid gray;
  background-color: white;
  border-radius: 10px;
}

.project-list,
.education-list {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}
.project-list {
  margin-top: -30px;
  padding-top: 20px;
  width: 100%;
}

.education-list {
  
}
.next-edu-btn,
.prev-edu-btn {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  top: 50%;
  box-shadow: 0px 3px 29px -4px rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  transition: all 200ms ease-in;
  z-index: 100;
}

.next-edu-btn {
  right: 10px;
}
.prev-edu-btn {
  left: 10px;
}

.next-edu-btn:hover,
.prev-edu-btn:hover {
  background-color: rgb(182, 180, 180);
}
.next-edu-btn:hover > i,
.prev-edu-btn:hover > i {
  color: white;
}

.next-edu-btn > i,
.prev-edu-btn > i {
  color: #c52429;
  font-size: 2em;
  transition: all 100ms ease-in;
  z-index: 100;
}

.project {
  box-sizing: border-box;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.26);
  color: white;
  position: relative;
  margin-top: 100px;
  padding-bottom: 3rem;
  display: inline-block;
}

.title-banner {
  width: 90%;
  height: 60px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  top: -15px;
  left: -1px;
  z-index: 2;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.26);
  display: flex;
  align-items: center;

}

.education-top-square {
  position: absolute;
  width: 60px;
  height: 50px;
  top: -30px;
  right: -20px;
  /* transform: rotate(45deg); */
  transform: rotate3d(1, 1, 1, -60deg);
  background-color: black;
  z-index: 10;
  box-shadow: 13px 21px 29px -4px rgba(0,0,0,0.75);
  border: 2px solid rgb(150, 149, 148);
}
.education-ribban {
  width: 6px;
  height: 50px;
  background-color: gold;
  position: absolute;
  top: 0;
  right: -25px;
  z-index: 2;
}
.ribban-styler {
  width: 6px;
  height: 6px;
  position: absolute;
  background-color: white;
  transform: rotate(45deg);
  top: 46px;
  right: -25px;
  z-index: 2;
}

.education > .fa-graduation-cap {
  position: absolute;
  font-size: 80px;
  color: black;
  top: -53px;
  right: -21px;
  transform: rotateY(180deg);
}

.title-left-banner {
  position: absolute;
  width: 20px;
  height: 100px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  top: -15px;
  left: -20px;
}

.title-bottom-banner {
  position: absolute;
  width: 20px;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  top: 45px;
  left: -20px;
}

.green {
  background-color: #109242;
}

.red {
  background-color: #c52429;
}

.dark-red {
  background-image: linear-gradient(to top, #c52429, #7b2427);
}

.gray {
  background-color: #525552;
}

.dark-gray {
  background-image: linear-gradient(to top, #525552, black);
}

.yellow {
  background-color: #f7ae3a;
}

.dark-yellow {
  background-image: linear-gradient(to top, #f7ae3a, #9a742d);
}

.dark-green {
  background-image: linear-gradient(to top, #109242 , #0e6137);
}

.module-desc {
  height: 75vh;
  margin-top: -150px;
  /* background-color: #c52429; */
  
}
.html-css-module-desc {
  /* background-image: url(./images/Diamond-Sunset-Black-Red.svg); */
  background-image: url(./images/Diamond-Sunset-Grey-Blue.svg);
}
.educations-module-desc {
  background-image: url(./images/Diamond-Sunset-Green-Blue.svg);
}
.project-desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -60px;
  align-items: center;
  justify-content: center;
}
.project-desc > img {
  display: inline-block;
  border-radius: 100%;
  border: 3px solid white;
  width: 90%;
}
.project-desc > p, 
.education-desc > p {
  text-align: center;
  font-weight: bold;
  margin-top: .5rem;
  font-family: monospace;
  background-color: black;
  color: rgb(121, 250, 109);
  padding: .25rem;
  border-radius: 3px;
}
.project-desc > p {
  width: 90%;
}

.project-btns {
  width: 90%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.project-btns > a {
  padding: .25rem .5rem;
  font-style: 1.5rem;
  font-weight: bolder;
  margin: .5rem;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 6px;
  border-radius: 0;
  color: white;
  width: 50%;
  text-decoration: none;
  text-align: center;
  font-family: 'Cocogoose', sans-serif;
}

.project-btns > a:hover {
  background-color: white;
}

.project.gray  a:hover {
  color: #525552;
}

.project.yellow  a:hover {
  color: #f7ae3a;
}

.project.green  a:hover {
  color: #109242;
}

.project.red  a:hover {
  color: #c52429;
}
.project a {
  transition: all 200ms ease-in;
}

.school {
  display: flex;
}
.edu-container {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}
.education {
  border-radius: 3px;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.26);
  color: white;
  position: relative;
  transition: all 200ms ease-in;
  margin-top: 110px;
  padding: 1rem 5% 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 100px;
  background-image: url(./images/education_background.png);
  background-position: center;
  background-blend-mode: overlay;
  background-size: cover;
  z-index: 10;
}

.above-banner {
  position: relative;
  z-index: 20;
}

.education:hover {
  background-blend-mode: soft-light;
}

.education-desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -65px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  z-index: 5;
}
.education-desc > p {
  align-self: center;
}

.school-name,
.title-of-education {
  display: flex;
  align-items: center;
}
.school-name > i {
  font-size: 24px;
}

.education-desc > h5 {
  width: 100%;
  text-align: right;
}

.education-banner {
  width: calc(100% + 2px);
  height: 60px;
  position: absolute;
  top: 15px;
  left: -1px;
  
  z-index: 2;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.26);
  display: flex;
  align-items: center;
}

.education-title-banner {
  position: absolute;
  width: 20px;
  height: 100px;
  top: 15px;
}
.education-title-left-banner {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  left: -20px;
}
.education-title-right-banner {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  right: -20px;
  z-index: 3;
}
.education-title-bottom-banner {
  position: absolute;
  width: 20px;
  height: 40px;
  top: 75px;
  z-index: 4;
}
.education-title-bottom-left-banner {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  left: -20px;
}
.education-title-bottom-right-banner {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  right: -20px;
}
.education-banner {
  display: flex;
  justify-content: center;
}
.education-hanger-dot {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: relative;
  top: -140px;
  left: calc(50% - 15px);
  text-align: center;
}
.education-hanger-line {
  height: 120px;
  width: 2px;
  background-color: gray;
  position: relative;
  top: -140px;
  left: calc(50% - 1px);
  z-index: -1;
}
.lower-edu-banner {
  position: absolute;
  width: 60px;
  /* height: 30px; */
  margin-top: -20px;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.26);
  /* z-index: 3; */
  height: 100px;
}
.banner-triangle {
  position: relative;
  border: 30px solid #109242; 
  border-bottom-color: transparent;
  bottom: -10px;
  bottom: -70px;
  left: 0;
  z-index: 11;
}
.red-triangle {
  border: 30px solid #c52429; 
  border-bottom-color: transparent;
}
.yellow-triangle {
  border: 30px solid #f7ae3a; 
  border-bottom-color: transparent;
}
.lower-edu-left-banner {
  /* position: absolute; */
  left: 40px;
  bottom: 80px;
  transform: rotate(15deg);
  /* z-index: 9; */
}
.lower-edu-right-banner {
  /* position: absolute; */
  right: 40px;
  bottom: 80px;
  transform: rotate(-15deg);
}

.lower-banner-cutter {
  position: relative;
  width: 41px;
  height: 41px;
  /* background-color: white; */
  top: 29px;
  left: 9px;
  transform: rotate(134deg);
  mix-blend-mode: exclusion;
  /* background-color: #000; */
  background-color: rgba(255, 255, 255, 0.7);
}

.speaker-grid article {
  position: relative;
}

.speaker-grid > article {
  margin-bottom: 4rem;
}

.speaker-grid article img {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 100px;
  transition: 300ms all ease-out;
}

.speaker-grid article img:hover {
  left: 0;
  top: 0;
  width: 115px;
}
.speaker-desc {
  margin-left: 135px;
  text-align: left;
}

.speaker-desc > * {
  margin-bottom: 0.5rem;
}

.speaker-desc > p:first-of-type {
  text-emphasis: italic;
  color: #ec5242;
}

.speaker-desc > div {
  width: 30px;
  height: 3px;
  background-color: #d3d3d3;
}
.square-grid-11 div {
  width: 5px;
  height: 5px;
}

.square-grid-11 div:nth-child(2n+1) {
  background-color: #000;
}
.square-grid-11 {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}
.testimony-underline {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .speaker-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .speaker-grid > article {
    margin-bottom: 2rem;
  }

  .square-grid-11 div:nth-child(2n+1) {
    background-color: #d3d3d3;
  }
}



/* Experimenting with translation */
.incline-right {
  transform: rotate(5deg);
}

.move-left {
  transform: translate(calc(-200%));
}
.move-abit-left {
  transform: translate(calc(-100px)) rotate(-5deg);
}
.incline-left {
  transform:  rotate(-5deg);
}